.tarjeta{
    display: flex;
    
    
    justify-content: center;
}
.contenedor{
    margin: 0;
    border-radius: 8px;
    margin-top: 35px;
}

.card{
    width: 130px;
    cursor: pointer;
    margin: 10px 0;
}
.card:hover{
    border: 1px solid var(--card-bg-03);
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.caja{
    width: 100%;
}
.product__details{
    margin-top: 70px;
}
.product__details h2{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.product__rating span i{
    color: coral;
}

.product__details p span{
    color: coral;
    font-weight: 500;
}
.product__price{
    font-style: 1.3rem;
    font-weight: 500;
}


.tab__wrapper {
    color: var(--primary-color);
    font-weight: 500;
    font-style: 1rem;
    cursor: pointer;
}

.active__tab{
    font-weight: 600;
}

.tab__content p {
    line-height: 30px;
}
.review__wrapper ul li span{
    color: coral;
    font-weight: 600;
}
.review__wrapper ul li p{
    margin-top: 10px;
}
.review__form{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
.review__form h4{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.form__group input, 
.form__group textarea{
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 8px 20px;
}
.form__group imput:focus,
.form__group textarea:focus{
    outline: none;
}
.form__group{
    margin-bottom: 30px;
}
.form__group span{
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: coral;
    font-weight: 600;
    cursor: pointer;
}

.related__title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
    .product__details h2 {
        font-size: 1.3rem;

    }
    .rating__group{
        column-gap: 1rem !important;
    }
}


.banner {
    position: relative;
    bottom: 0; /* Cambiamos la posición a la parte inferior */
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--card-bg-01);
    padding: 10px;
    text-align: center;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .banner-text {
    display: inline-block;
    animation: scrollText 55s linear infinite;
    transform: translateX(100%); /* Inicialmente, el texto está fuera del banner en la derecha */
  }
  .banner-text img{
    height: 20px;
    
    width: 80px;
  }
  .bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgba(106, 77, 77, 0.46);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-pink-banner-background-womens-clothing-image_10589.jpg"); */
    background-size: cover;
    
    opacity: 0.4; /* Ajusta la opacidad según lo desees */
    filter: saturate(0.7); /* Ajusta el valor de saturación del filtro */
    border-radius: 8px;
  }
  
  
  .gorro-navidad {
    position: absolute;
    width: 30px; /* Ajusta el ancho según tus necesidades */
    top: 88%; /* Ajusta la posición vertical según tus necesidades */
    left: 52%; /* Ajusta la posición horizontal según tus necesidades */
    transform: translate(-50%, -50%); /* Centra la imagen con respecto a su posición */
  }
  

  .whatsapp {
    position: fixed;
    left: 0;
    bottom: 0;
    cursor: pointer;
}
.whatsapp img{
    width: 80px;
}
  
  
  @keyframes scrollText {
    0% {
      transform: translateX(320%);
    }
    100% {
      transform: translateX(-320%); /* Mover el texto a la izquierda */
    }
  }



  .carta{
    display: flex;
    
   
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
  }
  .row{
    justify-content: space-around;
    width: 100%;
  }
@media only screen and (max-width:768px){
    .gorro-navidad {
        position: absolute;
        width: 30px; /* Ajusta el ancho según tus necesidades */
        top: 170%; /* Ajusta la posición vertical según tus necesidades */
        left: 7%; /* Ajusta la posición horizontal según tus necesidades */
        transform: translate(-50%, -50%); /* Centra la imagen con respecto a su posición */
      }
}